*{
    margin:0; 
    padding:0;
    font-family: 'Nanum Gothic', sans-serif;

}





 /* PC */
 .wrap{width:1200px;  margin:0 auto;}
 .navbar{position: relative;}
 .banner{ position: relative; height: 1000px;}
 .left-column{ position: absolute;width: 100%; float: left;}
 .go-otherPage{float:left;display: none;position: relative; width: 55%; padding: 20px;}
 
 .right-column{position: absolute; right: 0; width: 40%; float: right;top:0;}
.Menu{display: none;}

@media (max-width:1239px) { 
 .navbar {display: none;}
 .navbar_ul {display: none;}.Menu{display: inline-block;}
 .navbar-icon{position: absolute;float: right;}
.right-column{top:auto; padding-top: 5vw;}
 .left-column{width: 100%;}
 .go-otherPage{display: block; padding-top: 40px;}
}
@media (min-width:701px) and ( max-width: 900px){/* 노트북 */
 .navbar_ul {display: none;}
 .right-column{ padding-top: 12vw;}
 .left-column{height: 500px;}

}
@media (min-width:501px) and ( max-width: 700px){/* 태블릿 */
 .go-otherPage{width: 90%;}
 .navbar_ul {display: none;}
 .right-column{width: 100%; padding-top: 70vw;}
 
}
@media (min-width: 0px) and (max-width:500px){/* 핸드폰 */
 .go-otherPage{width: 90%;margin-top: 30px;}
 .navbar_ul {display: none;}
 .right-column{width: 100%; padding-top: 100vw;}

 /* clear:both == float:none; */
}



.hero{
    width: 80%; margin: auto;
}

.navbar{
    margin:30px auto; display: flex; align-items: center;
}

.navbar_ul{
    flex: 1; text-align: left;
}
.navbar_ul li{
    font-size: 1vw; display: inline-block; list-style: none; margin:0 25px;
}
.navbar_ul li a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
    position: relative;
}
.navbar_ul li a::after{
    content: '';
    width:0;
    height: 10px;
    background: rgb(98, 203, 221);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:-56px;
    transition: 0.5s;
}
.navbar_ul li a:hover::after{
    width: 100%;
}

.navbar-icon{
    margin-left: 40px;
    right: 0;
}

.navbar-icon img{
    height: 25px;
    margin-left: 40px;
    cursor: pointer;
}


.Menu-bar {
    display: none;
    font-size: 1.6vmax;
    list-style: none;
    text-align: center;
    height: auto;
    border: 0;
    position: absolute;
    width: 12vmax;
    z-index: 30;
    margin-top: 2vmax;
}
.Menu-bar li {
    padding: 1.3vmin;
}
.Menu-bar li :hover {
    color: turquoise;
    padding: 1.3vmin;
}
.Menu-bar li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* navbar */

.banner{
    display: flex;
    position: relative;
    margin-top: 80px;
}
.left-column,.right-column{
    flex-basis: 50%;
}
.right-column img{
    width: 100%;
    box-shadow:  7px 7px 7px rgba(156, 222, 224, 0.5);
}

.search-Box{
    width: 45%;
    display: flex;
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
    margin:10px 0 30px;
}
.search-Box img{
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.search-Box input{
    width: 100%;
    margin-left: 15px;
    font-size: 17px;
    border:0;
    outline: 0;
}


.left-column h1{
    font-size: 6vmax;
}
.left-column h3{
    font-size:  2.5vmax;
}
.left-column span{
    color: rgb(178, 228, 114);
}
.left-column p{
  
    font-size:  1.3vmax;
    color: rgba(104, 104, 104, 0.76);
    margin : 50px 0;
}

.Btn_main button{
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border: 1px solid rgb(129, 233, 104);
    border-radius: 20px;
    cursor: pointer;
    color:  rgb(255, 255, 255);
    font-weight: bold;
    background:  transparent;
}
.Btn_main .primaty-btn{
    background: linear-gradient(rgb(125, 247, 141), rgb(114, 231, 240));
    box-shadow: 0 2px 15px rgba(58, 255, 189, 0.514);
}

.go-otherPage{
    text-align: center;
}
.go-otherPage button{
    margin-top: 20px;
    width: 80%;
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    color:  rgb(255, 255, 255);
    font-weight: bold;
    background:  transparent;
    background: linear-gradient( rgb(255, 245, 99), rgb(153, 255, 122));
    box-shadow: 0 2px 15px rgba(146, 255, 132, 0.712);
}




.footer{
    font-weight: bold;
    position: fixed;
    left: 0; bottom: 0;
    padding-top: 5px ;padding-bottom: 5px ;
    text-align: center;
    height: 40px;    width: 100%;
    background: rgba(209, 235, 115, 0.644);
    color:white;
}

