*{
    margin:0; 
    padding:0;
    font-family: 'Nanum Gothic', sans-serif;

}
.Circle_1{
    overflow: hidden;
    margin-top: -240px;  margin-left: 60px;
    width: 700px;  height: 700px;
    border-radius: 100%;  background: linear-gradient(rgb(125, 247, 141), rgb(114, 231, 240));
}
.Circle_2{
    overflow: hidden;
    margin-top: -560px;  margin-left: 710px; width: 300px;  height: 300px;
    border-radius: 100%; background: linear-gradient(rgba(253, 255, 136, 0.911), rgba(92, 255, 127, 0.897));
}
.Circle_3{
    overflow: hidden; margin-top: -190px; width: 340px; height: 340px;
    border-radius: 100%;   background: linear-gradient(rgba(100, 255, 239, 0.575), rgb(208, 236, 255, 0.575));

}
.left-column-ani{
    position: relative;
    animation-name: info;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode:forwards ;
}
.Btn_main{
    animation-name: info_btn;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode:forwards ;
}
.Project_bar{
    animation-name: back_bar;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode:forwards ;
}
@keyframes info_btn{
    0%{opacity: 0;}
    100% {opacity: 1;}
}
@keyframes info{
    0%{right: -80px;}
    100% {right:0;}
}
@keyframes back_bar{
    0%{left: -80px;}
    100% {left:0;}
}
.test0div {
    font-weight: bold;
    font-size: 3rem;
    line-height: 0.75;
  }
  
  .name {
    display: block;
  }
  
  .name:not(.light) {
    opacity: 0;
    animation: flashText .5s ease-out alternate infinite;
  }
  
  .name.light {
    position: relative;
    display: inline-block;
  }
  .name.light:before {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 120%;
    filter: blur(10px);
    content: "";
    opacity: 0;
    animation: flash .5s ease-out alternate infinite;
  }
  @keyframes flash{
    to {
      opacity: 1;
    }
  }
  
  @keyframes flashText {
    to {
      opacity: 0.6;
    }
  }




 /* PC */
 .wrap{width:1200px;  margin:0 auto;}
 .navbar{position: relative;}
 .banner{ position: relative; height: 1000px;}
 .left-column{ position: absolute;width: 100%; float: left;}
 .go-otherPage{float:left;display: none;position: relative; width: 55%; padding: 20px;}
 
 .right-column{position: absolute; right: 0; width: 40%; float: right;top:0;}
.Menu{display: none;}

@media (max-width:1239px) { 
 .navbar {display: none;}
 .navbar_ul {display: none;}.Menu{display: inline-block;}
 .navbar-icon{position: absolute;float: right;}
.right-column{top:auto; padding-top: 5vw;}
 .left-column{width: 100%;}
 .go-otherPage{display: block; padding-top: 40px;}
}
@media (min-width:701px) and ( max-width: 900px){/* 노트북 */
 .navbar_ul {display: none;}
 .right-column{ padding-top: 12vw;}
 .left-column{height: 500px;}

}
@media (min-width:501px) and ( max-width: 700px){/* 태블릿 */
 .go-otherPage{width: 90%;}
 .navbar_ul {display: none;}
 .right-column{width: 100%; padding-top: 70vw;}
 
}
@media (min-width: 0px) and (max-width:500px){/* 핸드폰 */
 .go-otherPage{width: 90%;margin-top: 30px;}
 .navbar_ul {display: none;}
 .right-column{width: 100%; padding-top: 100vw;}

 /* clear:both == float:none; */
}



.hero{
    width: 80%; margin: auto;
    margin-top: -350px;
}

.navbar{
    margin:30px auto; display: flex; align-items: center;
}

.navbar_ul{
    flex: 1; text-align: left;
}
.navbar_ul li{
    font-size: 1vw; display: inline-block; list-style: none; margin:0 25px;
}
.navbar_ul li a{
    text-decoration: none;
    color: white; font-weight: 600;
    padding: 0 10px;
    position: relative;
}
.navbar_ul li a::after{
    content: '';
    width:0;
    height: 10px;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:-56px;
    transition: 0.5s;
}
.navbar_ul li a:hover::after{
    width: 100%;
}

.navbar-icon{
    margin-left: 40px;
    right: 0;
}

.navbar-icon img{
    height: 25px;
    margin-left: 40px;
    cursor: pointer;
}


.Menu-bar {
    display: none;
    font-size: 1.6vmax;
    list-style: none;
    text-align: center;
    height: auto;
    border: 0;
    position: absolute;
    width: 12vmax;
    z-index: 30;
    margin-top: 2vmax;
    background-color: rgba(255, 255, 255, 0.514);
}
.Menu-bar li {
    padding: 1.3vmin;
}
.Menu-bar li :hover {
    color: turquoise;
    padding: 1.3vmin;
}
.Menu-bar li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* navbar */

.banner{
    display: flex;
    position: relative;
    margin-top: 80px;
}
.left-column,.right-column{
    flex-basis: 50%;
}
.right-column img{
    width: 100%;
    box-shadow:  7px 7px 7px rgb(0, 0, 0);
}

.left-column{
    text-align: right;
    color: rgb(0, 0, 0);
}
.left-column h1{
    font-size: 6vmax;
}
.left-column h3{
    font-size:  2.5vmax;
}
.left-column span{
    color: rgb(135, 241, 102);
}
.left-column p{
    font-weight: 550;
    font-size:  1.2vmax;
    color: rgba(0, 0, 0, 0.76);
    margin : 50px 0;
}

.Btn_main button{
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border: 1px solid rgb(129, 233, 104);
    border-radius: 20px;
    cursor: pointer;
    color:  rgb(255, 255, 255);
    font-weight: bold;
    background:  transparent;
}
.Btn_main .primaty-btn{
    background: linear-gradient(rgb(125, 247, 141), rgb(114, 231, 240));
    box-shadow: 0 2px 15px rgba(58, 255, 189, 0.514);
}

.go-otherPage{
    text-align: center;
}
.go-otherPage button{
    margin-top: 20px;
    width: 80%;
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    color:  rgb(255, 255, 255);
    font-weight: bold;
    background:  transparent;
    background: linear-gradient( rgb(255, 245, 99), rgb(153, 255, 122));
    box-shadow: 0 2px 15px rgba(146, 255, 132, 0.712);
}

.diagonal_div {
    margin-top:-60px;
    transform: skewY(-9deg);
    height: 700px;
	background-image: linear-gradient(  #c5eaff, rgb(255, 255, 255));
} 
.content { 	
	max-width: 50em;
    margin: 0 auto; 
}

.Project_bar{
    transform: skewY(-9deg);
    background-color: rgba(114, 232, 240, 0.534); width: 85%; height: 80px; border-radius: 20px; margin:3vmax;
    margin-left: -50vmin; position: relative;
}
